<div class="card">
    <div class="buy-container text-right" *ngIf="item.rate">
        <span class="d-inline-block rate">${{item.rate}}/ton</span>
    </div>
    <div class="buy-container text-right" *ngIf="item.rate">
        <button class="btn btn-success d-inline-block">Buy Now</button>
    </div>
    <img class="card-img-top" [src]="item.imageLink" alt="Card image cap">
    <div class="banner-text-container">
        <span class="banner-text d-inline-block">{{item.bannerText}}</span>
    </div>
    <div class="card-body">
        <span class="d-block text-header text-header1">{{item.title}}</span>
        <span class="d-block text-header text-header2">{{item.offset}}</span>
        <p class="card-text">{{item.summary}}</p>
    </div>
</div>