.card {
    margin-bottom: 1rem;
    height: 300px;
    border-radius: 0px;
    box-shadow: 1px 1px 3px;
    border: none;

    .text-header {
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        &.text-header2 {
            color: green;
        }
        &.text-header1 {
            color: red;
        }
    }
    .card-text {
        font-size: 0.8rem;
    }

    .card-img-top {
        height: 160px;
    }
}
.banner-text-container {
    height: 0px;
    .banner-text {
        position: relative;
        top: -40px;
        left: 15px;
        color: #ffffff;
        font-weight: 700;
        padding: 5px 10px;
        background-color: #00000080;
    }
}
.buy-container {
    height: 0px;
    .btn {
        position: relative;
        top: 4px;
        right: 4px;
    }
    .rate {
        position: relative;
        top: 44px;
        right: 20px;
        color: #ffffff;
        font-size: 0.7rem;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #00000080;
    }
}
