<div class="container">
    <div class="row mb-2 mx-lg-5">
        <div class="col-12 banner">
            <div class="d-flex">
                <img src="../../../../assets/projects.png" alt="" class="float-left">
                <div class="my-auto mx-auto header-text-container">
                    <span class="d-block text-center header-text">Our environmental projects are providing many
                        environmental benefits
                        around the world. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-container mx-lg-5">
        <ng-container *ngFor="let item of items">
            <div class="col-12 col-md-6 px-1">
                <app-single-item [item]="item"></app-single-item>
            </div>
        </ng-container>
    </div>
</div>