.container {
    max-width: 960px;
}
.banner {
    background-color: #c2f5aa;
    border-radius: 5px;
    img {
        max-height: 140px;
    }
    .header-text-container {
        max-width: 560px;
    }
    .header-text {
        font-size: 1.3rem;
        @media (max-width: 575px) {
            font-size: 0.9rem;
        }
    }
}

.card-container {
    margin: 0px -20px;
}
